body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

#vote-mount {
	width: 75%;
	margin: 10% auto;
}

button {
	outline: 0 !important;
}

button:first-of-type {
	margin-right: 20px;
}

.glyphicon {
	margin: 0 8px;
}
